/* Global */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Biotif", sans-serif;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 2px solid #00e0a1;
}

.main .button,
.main button,
.main input[type="submit"],
.main input[type="reset"],
.main input[type="button"] {
  max-width: 153px;
  margin-left: 10px;
  color: #fff;
  font-weight: 800 !important;
  height: 44px;
  border: none;
  background: rgb(0, 224, 161);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 4px 6px 0px rgba(15, 32, 66, 0.1);
  border-radius: 4px 4px 4px 4px;
}

.main button[disabled],
html input[disabled] {
  box-shadow: none !important;
  background: rgb(216, 216, 216, 1) !important;
  opacity: 0.5;
}

.main .button:hover,
.main button:hover,
.main input[type="submit"]:hover,
.main input[type="reset"]:hover,
.main input[type="button"]:hover {
  background: #00ca91;
}

.main input[type="checkbox"],
.main input[type="radio"] {
  width: auto;
  box-shadow: none;
  display: block;
}

.main input {
  width: 314px;
  height: 44px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(212, 216, 223);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 4px 6px 0px rgba(15, 32, 66, 0.1);
  border-radius: 4px 4px 4px 4px;
  font-weight: 500 !important;
  font-size: 14px;
}

@media screen and (max-width: 550px) {
  .main input {
    width: 100%;
  }

  .main .button,
  .main button,
  .main input[type="submit"],
  .main input[type="reset"],
  .main input[type="button"] {
    width: 100%;
    max-width: 100%;
  }
}

.main input::placeholder,
.main input:-ms-input-placeholder,
.main input-ms-input-placeholder {
  max-width: 144px;
  height: 44px;
  color: #829ab1 !important;
  padding: 0 0 0 5px;
  background: rgb(130, 154, 177);
  opacity: 1; /* Firefox */
}

@media screen and (min-width: 720px) {
  .mobile {
    display: none;
  }

  .non-mobile {
    display: inherit;
  }
}

@media screen and (max-width: 720px) {
  .mobile {
    display: inherit;
  }

  .non-mobile {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .main .button,
  .main button,
  .main input[type="submit"],
  .main input[type="reset"],
  .main input[type="button"] {
    margin-left: 0;
  }
}

.response .success,
.response .failure {
  padding: 15px 20px;
  width: inherit;
  border-radius: 5px;
  line-height: 20px;
  margin-bottom: 15px;
}

.response .success {
  background-color: #3d9aff;
}

.response .failure {
  background-color: #f56565;
}

.response p,
.response a {
  margin: 0;
  color: #ffffff;
}

.response a:hover {
  text-decoration: none;
}

/* Typography */

h4 {
  color: #ffffff;
  font-weight: bold;
  max-width: 330px;
}

.main p {
  color: #ffffff;
  font-weight: 500;
}

.highlight {
  color: #00e0a1;
  margin: 0;
}

/* Header */

.hero {
  width: 100vw;
  position: relative;
  overflow: hidden;
  padding: 0 0 200px 0;
}

.wave {
  top: 0;
  background: url(../images/wave.svg) repeat-x;
  position: absolute;
  width: 6000px;
  height: 650px;
  animation: wave 100s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  animation-direction: reverse;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  animation: wave 100s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.145s infinite,
    swell 37s ease -1.25s infinite;
  animation-direction: reverse;
  opacity: 1;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS */

  body {
    background: #1a73e8 radial-gradient(ellipse,#0480fa 0,#067ef7 6%,#087cf3 11%,#097aef 18%,#0b77ea 24%,#0c74e5 31%,#0d72e0 38%,#0e6fdb 45%,#0f6cd5 53%,#1069d0 60%,#1165ca 68%,#1262c5 76%,#135fc0 84%,#135dbb 92%,#145ab6 100%)!important;
  }

  .wave,
  .wave:nth-of-type(2) {
    display: none!important;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -55px, 0);
  }
  50% {
    transform: translate3d(0, 0px, 0);
  }
}

.animation {
  float: right;
}

.chatbubbles {
  width: 80%;
}

.form {
  display: inline-block;
}

.disclaimer {
  color: #fff;
  font-size: 10px;
  display: flex;
  max-width: 450px;
}

.disclaimer > input {
  margin-right: 8px;
  width: 32px!important;
  font-size: 30px;
  background: transparent;
}

@media screen and (max-width: 720px) {
  .wave {
    height: 1055px;
  }
}

@media screen and (max-width: 500px) {
  .wave {
    height: 925px;
  }
}

@media screen and (max-width: 380px) {
  .wave {
    height: 825px;
  }
}

/* Logo */

.logo {
  display: block;
  height: 40px;
}

.logo img {
    width: 100%;
}

/* Footer */

.footer {
  display: inline-block;
  bottom: 0;
}

footer p {
  color: #a7bacd;
  font-weight: bold;
}

.footer-link {
  font-size: 14px;
  text-decoration: none;
  color: #a7bacd;
  font-weight: 300;
  margin: 0 0 0 20px;
}

.footer-link::after {
  content: "";
  display: inline-block;
  background: url("../images/link-arrow.svg") no-repeat;
  height: 12px;
  width: 12px;
  margin: 0 0 0 3px;
}

.footer-link:hover {
  color: #1a73e8;
}

.footer-link:hover::after {
  background-image: url("../images/link-arrow_hover.svg");
}

@media screen and (max-width: 720px) {
  .footer-column p {
    margin-top: 30px;
  }

  .first {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .footer-column p {
    margin-top: -30px;
  }

  .footer-link p {
    clear: left;
    width: 100%;
  }
}
