/*
Font: 		Biotif
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T7802/biotif
Foundry: 	Degarism Studio
Foundry: 	https://www.youworkforthem.com/designer/869/degarism-studio
Copyright:	Copyright © 2016 by Deni Anggara. All rights reserved.
Version: 	17
Created:	April 20, 2017
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Biotif';
	src: url('biotif.eot');
	src: url('biotif.eot?#iefix') format('embedded-opentype'),
             url('biotif.woff2') format('woff2'),
	     url('biotif.woff') format('woff'),
	     url('biotif.ttf') format('truetype'),
	     url('biotif.svg#youworkforthem') format('svg');
	font-weight: 400;
	font-style: normal;
}
